.breadcrumbs {
	padding: 10px 25px;
	background: #f3f3f3;

.breadcrumbs-nav {
	li {
		display: inline-block;
	&:not(:first-child):before {
    	content: "/";
    	margin: 0 5px
}
}
// 	.bread-a {
// 		text-decoration: underline;
// 		color: #CF8B96;
// 		&:link {
// 		color:#CF8B96;
// }
// 		&:visited {
// 		color:#b9b6b6;
// }
// 		&:hover {
// 		text-decoration: none;
// 		color:#f70a30;
// }
// 		&:active {
// 		color:#2612cc;
// 		text-decoration: none;
// }
// }
// }

.bread-a {
		text-decoration: underline;
		color: #CF8B96 ;
		&:link {
		color:#CF8B96;
}
		&:visited {
			color:red;
}

		&:hover {
		text-decoration: none;
		color:green;
}
		&:active {
		color:#2612cc;
		text-decoration: none;
}
}

// .bread-a {
// &:link          {color:#e5efe5}
// &:visited       {color:red}
// &:hover         {color:blue}
// &:visited:hover {color:green}
// &:focus         {color:#004DC0}
// &:visited:focus {color:#fff700}
// &:active        {color:black}
// }

}
}