.breadcrumbs {
	padding: 10px 25px;
	background: #f3f3f3;

.breadcrumbs-nav {
	li {
		display: inline-block;
	&:not(:first-child):before {
    	content: "/";
    	margin: 0 5px
}
}

.bread-a {
		text-decoration: underline;
		color: #CF8B96 ;
		&:link {
		color:#CF8B96;
}
		&:focus {
		color:#b9b6b6;;
}

		&:hover {
		text-decoration: none;
		color:blue;
}
		&:active {
		color:red;
		text-decoration: none;
}
}
}
}