.aside {
	width: 210px;
	float:left;
}
.aside-form{
    background: #f3f3f3;
    border: 1px solid #d8dbde;
    padding: 17px 12px;
}
.contact-form {
    margin-bottom: 20px;
    border: 1px solid #a2a2a2;
    border-radius: 5px;
    padding: 5px 10px;
    background: #e3e4e5;
    width: 185px;
}
.form-name {
    width: 100px;
}
.contact-title {
    color: #282d33;
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 20px;
}
.contact-submit {
    background: #a8202a;
    border: 5px solid #fff;
    color: #fff;
    font-size: 16px;
    padding: 10px 0;
    width: 184px;
    text-align: center;
    cursor: pointer;
}
.head-aside {
    font-family: Geneva, Arial, Helvetica, sans-serif;
    font-size: 18px;
    margin-top: 27px;
    margin-bottom: 14px;
    display: block;
}
.title-aside {
    font-family: Geneva, Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #666666;
    margin-bottom: 16px;
}
.more {
    color: #CF8B96;
    text-decoration: underline;
    &:hover {
	text-decoration: none;
}
}

