.header {
    margin: 0 -9999px;
    padding: 0 9999px;
    padding-top: 14px;
    padding-bottom: 14px;
    background: linear-gradient( to top, #48565d, #6364ff);
}
.header-inner {
    margin:0 auto;
    padding:0 5px 0 5px;
}
.logo-wrapper {
	font-weight: 900;
	float:left;
}
.logo {
	text-transform: uppercase;
}
.main-title {
    font-weight: 700;
	font-size: 30px;
	color: #a5adb8;
	span {
		color: #ae4b5d;
}
}
.title-logo {
	display: block;
	color: #656f7a;
	font-size: 12px;
}
.search-wrapper {
	float:right;
	margin-right: 15px;
}


 .search-input {
    background: #24272d;
    border-radius: 7px;
    border: 1px solid #875f66;
    box-shadow: inset 0px 4px 6px 0px rgba(0,0,0,0.75);
    font-size: 14px;
    margin-right: 5px;
    padding: 9px 8px;
    width: 199px;
    color: #fff;
    vertical-align: top;
}
.search-button {
    border: none;
    background: #ae4b5d;
    background-image: url("../images/sprite.png");
    background-position: 12px 12px;
    width: 36px;
    height: 36px;
    border-radius: 5px;
}
.slide-inner {
	max-width: 530px;
	padding-top: 49px;
	padding-bottom: 24px;
	padding-left: 40px;
}
.title-header {
	background: url("../images/main-img.jpg");
	background-size: 100% 100%;
}
.slide-slogan {
    font-size: 18px;
    color: #282d33;
    font-weight: 900;
    margin: 4px 0 20px;
    display: block;
}
.title {
    color: #a5adb8;
    font-weight: 900;
}
.slide-descript {
    color: #d9dcdf;
    margin-top: 5px;
    line-height: 19px;
}