@media (max-width: 995px) {
.content-title {
	float: none;
}
.footer-title {
	width: 49%;
	margin-left: 0;
	text-align: center;
&:last-child {
	width: 100%;
	padding-top: 50px;
}
}
.footer {
.footer-title-small {
		width: 232px;
		margin:0 auto;
}
.footer-title {
	margin-right: 0;
	text-align: left;
}
}
}

@media (max-width: 969px) {
.pictures {
	width: 50%;
	margin-left: 0;
	text-align: center;
&:last-child {
	width: 100%;
}
}
.training-inner {
	width: auto;
	margin-left: 0;
&:last-child {
	width: 100%;
}
}
.tag {
	color:#000;
	font-weight: 700;
}
.training-inner:nth-child(3) {
	float: none;
	margin-top: 20px;
ul {
	max-width: 233px;
	margin: 0 auto;
}
.tag {
	text-align: center;
	color:#000;
}
}
.training-inner:nth-child(2) {
	float: right;
}
.images-content {
	margin:0 auto;
}
}

@media (max-width: 720px) {
.training-inner {
	width: 100%;
	margin-top: 30px;
&:last-child {
	margin-top: 30px;
}
ul {
	max-width: 233px;
	margin: 0 auto;
}
&:last-child {
	margin-top: 30px;
}
.tag {
	text-align: center;
}
}
}

@media (max-width: 714px) {
.pictures {
	width: 100%;
&:last-child {
	width: 100%;
}
}
}

@media (max-width: 667px) {
.content-title {
	width: 100%;
	float: none;
}
.pictures {
	width: 50%;
	margin-left: 0;
	text-align: center;
&:last-child {
	width: 100%;
}
}
.training-inner {
	width: auto;
	margin-left: 0;
&:last-child {
	width: 100%;
}
}

.aside-form {
	width: 210px;
	margin:0 auto;
}
.aside {
	width: auto;
	margin-bottom: 20px;
}
}

@media (max-width: 635px) {
.footer-title {
		width: 100%;
}
}

@media (max-width: 625px) {
.nav {
.nav__item > {
.link {
	padding:10px;
}
}
}
}

@media (max-width: 553px) {
.search-wrapper {
	margin-top: 20px;
}
.slide-inner {
	padding:49px 10px 24px 10px;
}
}

@media (max-width: 540px) {
.training-inner {
	width: 100%;
	margin-top: 30px;
&:last-child {
	margin-top: 30px;
}
}
.pictures {
	width: 100%;
&:last-child {
	width: 100%;
}
}
.content-title {
	padding-left: 0;
}
}

@media (max-width: 540px){
.content {
	padding:10px;
}
}

@media (max-width: 485px) {
.nav {
.nav__item > {
.link {
	padding:10px 5px 10px 5px;
}
}
}
}

@media (max-width: 460px) {
	tr {
    td {
        font-size: 12px;
        padding: 5px;
}
}
}

@media (max-width: 415px) {
.nav {
	float: none;
	text-align: center;
.nav__item  {
    display: block;
    font-size: 16px;
	border-bottom: 1px solid #fff;
	border-left: 0;
.link {
	padding:5px;
}
}
}
}

@media (max-width: 337px) {
.footer-head {
		width: 232px;
}
.footer-title {
	padding-left: 0;
}
}