.bg-nav {
    background: #95161f;
}
.nav {
    float: right;
    font-size: 0;

.nav__item:first-child {
    border-left:0;
}

.nav__item {
 	display: inline-block;
    font-size: 16px;
    border-left: 1px solid #fff;
    &:hover {
        background: #6364ff;
        transition: all 0.3s;
    }
    &:active {
    background: #6364ff;
    transition: all 0.3s;
    }

&>.sub-a{
	display: block;
	color:#fff;
    padding: 10px 20px 10px 20px;
    font-weight: 900;
}
.submenu {
 	position: absolute;
    top: 100%;
    left: 0;
    background: #18CFAB;
    z-index: 9999;
    display: none;
    padding: 20px 15px 10px 5px !important;
	right: 0;
	left: auto;
}
li{
    display: block;
    margin-right: 0;
a {
    color: #000;
    display: block;
}
}
}
}