.content-wrap {
	max-width: 730px; 
	padding-left: 26px;
	box-sizing: border-box;
	float: left; /*с этим работать не будет*/
	overflow: hidden;/*без этого работать не будет*/
	padding-top: 18px;
	padding-right: 3px;
}
.hat {
    color: #9999cc;
    font-size: 23px;
    font-family: Arial, sans-serif;
    margin-bottom: 19px;
}
.cvet {
    color: #993366;
}
.sit {
	max-width: 728px;
    color: #666666;
    font-size: 14px;
    font-family: "font-family", Geneva, Arial, Helvetica, sans-serif;
    margin-bottom: 20px;
}
.content-spesoc {
	max-width: 728px;
}

.cop {
    color: #5A646D;
    margin-bottom: 8px;
}
.training {
    margin-bottom: 20px;
    & .non {
    	margin-left: 10px;
    }
}
.training-inner {
	float:left;
	display: inline-block;
	line-height: 24px;
	color: #5E626B;
	margin-left: 3px;
    .nav-training {
    .menu-training {
    list-style-type: none;
}
}
}

.training-inner:nth-child(1){
        .menu-training::before {
        content: "\2022";
        margin-right: 5px;
}
}

.training-inner:nth-child(2){
        .menu-training:nth-child(6)::before, li:nth-child(7)::before, li:nth-child(8)::before{
        content: "\2022";
        margin-right: 5px;
}
}


.vid {
    display: inline;
    margin-left: 15px;
    float: left;
    font-family: "Geneva", Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 14px;
    &:first-child {
    	margin-left: 0;
}
}
.imgvid {
	display: block;
}